$black: #202124
$lt_teal: #147C83
$teal: #00474B
$dk_teal: #001E20
$hover_teal: #D8EAEA
$white: #FFF
$off_white: #F8F8F8
$lt_gray: #F0F1F1
$border: #B6C6C6
$alt_border: #CCDDDD
$green: #13D83E
$gold: #DD8500
$red: #F50000

:export
  black: $black
  lt_teal: $lt_teal
  teal: $teal
  dk_teal: $dk_teal
  hover_teal: $hover_teal
  white: $white
  off_white: $off_white
  lt_gray: $lt_gray
  border: $border
  alt_border: $alt_border
  green: $green
  gold: $gold
